@page "/todo"
@rendermode InteractiveServer
@using BlazorSampleApplication.Models
@using BlazorSampleApplication.Services
@using BlazorSampleApplication.DbModels
@inject TodoRepository repo
@inject BlazorToDoContext context

<h3>Index</h3>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Done</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var todo in todosDB)
                {
                    <tr>
                    <td class="align-middle">@todo.Title</td>
                    <td class="align-middle">@todo.Description</td>
                    <td class="align-middle">
                            <input type="checkbox" @bind="todo.IsDone" @onclick="() => ChangeDoneStatus(todo)" />
                        </td>
                        <td>
                        <a class="btn btn-primary" href="@($"todo/edit?id={todo.Id}")">Edit</a> 
                        <a class="btn btn-secondary"  href="@($"todo/details?id={todo.Id}")">Details</a> 
                        <button class="btn btn-danger" @onclick="() => Delete(todo.Id)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
          <a href="@($"todo/create")">Add</a> 
    </div>



@code {
    private List<DbModels.Todo> todosDB = new();

    protected override async Task OnInitializedAsync()
    {
        todosDB = await repo.GetTodosAsync();
    }

    async void Delete(int id)
    {
        todosDB = todosDB.Where(t => t.Id != id).ToList();
        await repo.DeleteTodoAsync(id);
    }

    async void ChangeDoneStatus(DbModels.Todo todo)
    {
        // e.Value contains the checked status as an object (true/false)

        todo.IsDone = todo.IsDone == null ? true: !todo.IsDone;
        await repo.UpdateTodoAsync(todo);

    }
}
